// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.channel-header {
    display: flex;
    .channel-image {
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
    }
    .channel-right {
        margin: 0 0 0 20px;
        padding: 0;
    }
    .channel-title {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 18px;
    }
    .channel-text {
        margin: 10px 0 0;
        padding: 0;
    }
}
